header{
    text-align: left;
    background: #e6b253;
    color: rgb(0, 0, 0);
    margin: 0;
    display: flex;
    align-items: center;
}

header h1{
    margin: 0;
    display: inline;
}

.logo{
    width: 150px; /* Set the desired width */
    height: auto; /* Maintain the aspect ratio */
    
}


nav{
    display: inline;
}

nav ul{
    margin: 0;
    display: inline;
}

nav ul li{
    background: black;
    color: white;
    border-radius: 8%;
    display: inline-block;
    list-style-type: none;
    padding: 1% 15px;
}

nav ul li a{
    color: white;
}

body {
    margin: 0;
    background:#ffffff;
    font-family: arial;
}

.row{
    clear:both;
}

.col{
    background: #e6b253;
    float:left;
    border-radius: 5px;
    padding: .5%;
    margin: .5%;
    width: 31%;
}

.main_page_img{
    width: 99%; /* Set the desired width */
    height: auto; /* Maintain the aspect ratio */
    border-radius: 5px;
}
.main_page_img3{
    width: 100%; /* Set the desired width */
    height: auto; /* Maintain the aspect ratio */
    border-radius: 5px;
}

h2{
    clear: both;
    padding-left: 44%;
    padding-top: 3%;
}

.about_paragraph{
    background: #e6b253;
    color: black;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
}

footer{
    padding-left: 2%;
}

.Marines_and_drone{
    width: 70%; /* Set the desired width */
    height: auto; /* Maintain the aspect ratio */
    padding-top: 1%;
    padding-left: 13%;
}

.Page2_list{
    padding-left: 13%;
}

.Page2_list_items{
    padding-bottom: 1%;
    padding-right: 20%;
}